<div class="container">
  <h1>You are currently playing <%= @deck.name %></h1>

  <!-- <p> previous question place holder.  previous answer placeholder</p> -->

  <p> <%= @card.question %> </p>
  <form method='post' action='/<%= @user.id %>/deck/<%= @deck.id %>/<%= @card.id %>'>
    Answer: <input name="guess"><br>
    <br>
    <input class= "btn" type="submit" value="Submit Answer">
    <br>
    <br>
  </form>

<div class="progress progress-striped active">
  <div class="progress-bar" style="width: 45%"></div>
</div>

  <div>
  </div>
</div>
